* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
}

/* HEADER (same as other pages) */
.main-header {
  background: #2f2c2c;
  padding: 15px 25px;
  color: #8257ff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: #1a1a1a;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid #5a4bff;
}

.search-bar input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: white;
}

/* PAGE LAYOUT */
.chat-page {
  margin-top: 80px;
  display: flex;
  height: calc(100vh - 80px);
}

/* LEFT CHAT SIDEBAR */
.chat-sidebar {
  width: 250px;
  background: #1a1a1a;
  border-right: 1px solid #333;
  padding: 20px;
  overflow-y: auto;
  margin-top: 20px;
}

.chat-sidebar h3 {
  color: #a9a9ff;
  margin-bottom: 10px;
}

.chat-sidebar ul {
  list-style: none;
}

.chat-sidebar ul li {
  margin: 10px 0;
}

.chat-sidebar ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 15px;
}

.chat-sidebar ul li a:hover {
  color: #5a4bff;
}

.chat-sidebar .active a {
  color: #5a4bff;
  font-weight: bold;
}

/* CHAT WINDOW */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #171717;
}

/* TOP BAR OF CHAT */
.chat-header {
  padding: 15px 20px;
  background: #2f2c2c;
  border-bottom: 1px solid #444;
}

.chat-header h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.subtitle {
  font-size: 14px;
  color: #bbb;
}

/* MESSAGES AREA */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* MESSAGE BUBBLES */
.message {
  max-width: 65%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #2b2b2b;
  color: #ddd;
}

.message.other {
  background: #2b2b2b;
  border-left: 4px solid #5a4bff;
}

.message.you {
  background: #3b2ea3;
  margin-left: auto;
  border-right: 4px solid #8257ff;
}

/* INPUT BOX */
.chat-input {
  display: flex;
  padding: 15px;
  background: #2f2f2f;
  border-top: 1px solid #444;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #1a1a1a;
  color: white;
}

.chat-input button {
  margin-left: 10px;
  padding: 12px 18px;
  border-radius: 50%;
  background: #5a4bff;
  border: none;
  cursor: pointer;
  color: white;
}
